<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Network Simulation Project</title>
  <link rel="stylesheet" type="text/css" href="/css/landing.css">
</head>
<body>
  <!-- Particle.js background -->
<!-- particles.js container --> <div id="particles-js"></div>
  <div class="main-container">
    <!-- Satellite SVG -->

    <!-- Content container -->
    <div class="content">
      <h1><span class="firstLetter">W</span>elcome to <span id="projectName"><span class="firstLetter">N</span>etwork<span class="firstLetter">X</span></span></h1>
      <p>Visualize and simulate various network topologies to enhance your understanding of network structures and protocols.</p>
      <a href="/" style="text-decoration: none;">
        <button class="sim-button">Start Simulation</button>
      </a>
    </div>
    <!-- Tower SVG -->

  </div>
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script src="/js/landing.js"></script>
</body>
</html>
